
# ───── ADMIN SEED ─────
SUPER_ADMIN_FULLNAME =
SUPER_ADMIN_EMAIL =
SUPER_ADMIN_PROFILE_IMAGE =
SUPER_ADMIN_PASSWORD =
SUPER_ADMIN_ROLE =
SUPER_ADMIN_PHONE= 
SUPER_ADMIN_ADDRESS =


# ───── SERVER ─────
PORT=


# ───── DATABASE ─────
DB_NAME =
DB_USERNAME =
DB_PASSWORD=
DB_HOST=
DB_PORT=


# ───── AUTH / JWT ─────
JWT_SECRET_KEY=


# ───── EMAIL (Nodemailer) ─────
EMAIL_USER =
EMAIL_PASSWORD =


# ______ Salt (Bcrypt)_______
BCRYPT_SALT_ROUNDS=


